@import 'utilities';
#newslatter-area{
    background-color: $secondary-color;

    h4{
        margin: 0;
        color: #fff;
    }

    button{
        background-color: #fff;
        color: #363636;
        border-radius: 0;
        padding: 10px 30px;
        &:hover{
            background-color: $primary-color;
        }
    }
}

