@import 'utilities';

#service-area{
    
    .card{
        i{
            color: $primary-color;
            font-size: 30px;
            margin-bottom: 20px;
        }

        background-color: $bg-light;
        transition: .3s;
        &:hover{
            box-shadow: 5px 5px 15px #ddd;
        }
    }
}