#carousel-area{
    h2{
        color: #fff;
    }

    p{
        color: #fff;
        font-size: 22px;
    }

    button{
        i{
            font-size: 25px;
            color: red;
        }
    }
}

 